.dropdown {-webkit-backface-visibility: hidden;}
.gf-menu .item.icon [class^="icon-"], .gf-menu .item.icon [class*=" icon-"] {-webkit-font-smoothing: inherit;}
#rt-like{position: absolute; top: 0px; left: -5500px;}canvas {height: auto !important;}